 
  .lead-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 13px 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.10rem;
    
  }

  @media (min-width: 768px) {
    .lead-card {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
@media (max-width: 576px) {
  .lead-card {
    padding: 8px 12px;
    font-size: 0.95rem;
    gap: 6px;
  }

  .lead-info,
  .lead-meta {
    gap: 9px;
  }

  .lead-info span,
  .lead-meta span {
    line-height: 1.2;
    margin: 0;
  }

  .lead-info i,
  .lead-meta .material-icons {
    font-size: 18px !important;
    margin-right: 4px !important;
  }
  .tabs.d-flex.flex-wrap {
    gap: 4px !important;
  }
}


  .lead-info,
  .lead-meta {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
  }

  .fw-medium {
    font-weight: 500;
  }

.lead-card {
  transition: all 0.3s ease;
}
